---
permalink: /site.webmanifest
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.title }}",
  "short_name": "Kyle CV",
  "start_url": "/",
  "display": "standalone",
  "icons": [
    {
      "src": "/favicon.ico?v=cv-resume",
      "sizes": "16x16 32x32 48x48",
      "type": "image/x-icon"
    }
  ],
  "background_color": "{{ site.themeColorDark }}",
  "theme_color": "{{ site.accentColor }}"
}
